<h3><i class="fas fa-book"></i> Stories to keep you up all night</h3>
<div class="section">
    <p class="lead">Write Stories to your Heart's content!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="waves-effect waves-light btn red darken-1">
       <i class="fab fa-google left"></i>Login with Google
    </a>
    <a href="/auth/facebook" class="waves-effect waves-light btn blue darken-2">
        <i class="fab fa-facebook left"></i>Login with Facebook
    </a>
</div>
{{!-- <div>
    <a href="/auth/twitter" class="waves-effect waves-light btn blue">
        <i class="fab fa-twitter left"></i>Login with Twitter
    </a>
</div> --}}